%h2 MAIN
%p
  Credit Card APP is up and running; API available at
  %a{href: '/api/v1'}
  "/api/v1"
  %br
  %br
  Features available:
  %ul
    %li
      %a{href: '/validate'}
        Validate Credit Card Number
    %li
      %a{href: '/newcard'}
        Create a New Credit Card
