%h2 Main
%p
  Credit Card is up and running. API available
  %a{href: '/api/v1/'}
    here. 
  Features available:
  %ul
    %li
      %a{href: '/validate'}Validate a credit card number
    %li
      %a{href: '/newcard'}Create a new credit card
