%h2 Login
%form{:action => '/login', :method => 'post', :id => 'user-form'}
  %label{:for => 'user_name'} Username:
  %input{:type => 'text', :name => 'username', :id => 'user_name'}
  %label{:for => 'user_password'} Password:
  %input{:type => 'password', :name => 'password', :id => 'user_password'}
  %input{:type => 'submit', :id => 'home-form-submit', :class => 'submit', :value => 'Login'}
