%h2 Validate Credit Card Number
- if @validation
  %p
    = "The Credit Card with number #{@validation[:card_num]} is #{@validation[:validated]}."
  %p
    %form{:action => '/validate', :method => 'post', :id => 'user-form'}
     %label{:for => 'card_number'} Credit Card Number: 
     %input{:type => 'text', :name => 'card_number', :id => 'card_number', :placeholder => '(enter a credit card number)'}
     %input{:type => 'submit', :id => 'home-form-submit', :class => 'submit', :value => 'Validate'}
